//- Administration des articles

extends ../layout.pug
 
block variables
    - let title = 'Administration';
 
block content
    section
        h2 Administration
        a(class='button' href='/admin/write') Créer un article
        table
            tr
                th ID
                th Date
                th Titre
                th Auteur
                th Catégorie
                th Actions
            each val in articles
                tr
                    td=val["id"]
                    td=moment(val["dateCreated"]).format('DD/MM/YYYY - hh:mm')
                    td 
                        a(class='link' href='/article/'+val["id"])=val["title"]
                    td=val["author"]["name"]
                    td=val["category"]["title"]
                    td
                        a(class='button' href='/admin/edit/'+val["id"]) Modifier
                        a(class='button danger' href='/admin/delete/'+val["id"]) Supprimer
