//- Administration des articles

extends ../layout.pug
 
block variables
    - let title = 'Administration';
 
block content
    section
        h2 Administration
        a(class='button' href='/admin/write') Créer un article
        table
            tr
                th ID
                th Date
                th Titre
                th Auteur
                th Catégorie
                th Actions
            each val in articles
                tr
                    td=val["id"]
                    td=val["dateCreated"].getDate().toString().padStart(2, '0') + "/" + val["dateCreated"].getMonth() + "/" + val["dateCreated"].getFullYear() + " - " + val["dateCreated"].getHours().toString().padStart(2, '0') + ":" + val["dateCreated"].getMinutes().toString().padStart(2, '0')
                    td 
                        a(class='link' href='/article/'+val["id"])=val["title"]
                    td=val["author"]["name"]
                    td=val["category"]["title"]
                    td
                        a(class='button' href='/admin/edit/'+val["id"]) Modifier
                        a(class='button danger' href='/admin/delete/'+val["id"]) Supprimer
