//- Modifier un article

extends ../layout.pug
 
block variables
    - let title = 'Modifier un article';
 
block content
    section
        h2 Modifier un article
        a(class='link' href='/admin') ← Retour à l'espace d'administration
        form(action="/admin/edit/" method="post")
            input(type="hidden" value=article["id"] name="id" id="id")
            h2=value=article["title"]
            div
                label(for="titre") Titre :
                input(type="text" name='titre' id='titre' placeholder='Titre de l\'article' value=article["title"])
            div
                label(for="categorie") Catégorie :
                select(name="categorie" id='categorie')
                    each val in categories
                        if val["id"] == article["category"]["id"]
                            option(value=val["id"] selected)=val["title"]
                        else
                            option(value=val["id"])=val["title"]
            div
                label(for='contenu') Contenu :
                textarea(name="contenu" id='contenu' rows="10" placeholder='Ecrivez le texte de l\'article ici')=article["content"]
            div
                label(for="auteur") Auteur :
                select(name="auteur" id='auteur')
                    each val in authors
                        if val["id"] == article["author"]["id"]
                            option(value=val["id"] selected)=val["name"]
                        else
                            option(value=val["id"])=val["name"]
            input(type="submit" value='Modifier' class='button')