//- Affichage d'un article selon l'id

extends layout.pug
 
block variables
    - let title = 'Article';
 
block content
    section
        h2=article["title"]
        a(class='link' href='/') ← Retour aux articles
        article(class='big')
            p(class='small')=article["dateCreated"].getDate().toString().padStart(2, '0') + "/" + article["dateCreated"].getMonth() + "/" + article["dateCreated"].getFullYear() + " - " + article["dateCreated"].getHours().toString().padStart(2, '0') + ":" + article["dateCreated"].getMinutes().toString().padStart(2, '0')
            h3=article["title"]
            p(class='small')=article["author"]["name"]
            
            
            p=article["content"]

            p(class='small')=article["category"]["title"]
                