//- Affichage d'un article selon l'id

extends layout.pug
 
block variables
    - let title = 'Article';
 
block content
    section
        h2=article["title"]
        a(class='link' href='/') ← Retour aux articles
        article(class='big')
            p(class='small')=moment(article["dateCreated"]).format('DD/MM/YYYY - hh:mm')
            h3=article["title"]
            p(class='small')=article["author"]["name"]
            
            
            p=article["content"]

            p(class='small')=article["category"]["title"]
                