//- Index : affichage des articles

extends layout.pug
 
block variables
    - let title = 'Accueil';
 
block content
    section
        h2 Les derniers articles
        each val in articles
            article
                p(class='small')=val["dateCreated"].getDate().toString().padStart(2, '0') + "/" + val["dateCreated"].getMonth() + "/" + val["dateCreated"].getFullYear() + " - " + val["dateCreated"].getHours().toString().padStart(2, '0') + ":" + val["dateCreated"].getMinutes().toString().padStart(2, '0')
                a(class='link' href='article?id='+val["id"])
                    h3=val["title"]
                p(class='small')=val["author"]["name"]
                    
                p=val["content"].length > 60 ? val["content"].slice(0,60) + "..." : val["content"]

                p(class='small')=val["category"]["title"]
                a(class='button' href='article?id='+val["id"]) Voir plus