//- Index : affichage des articles
extends layout.pug
 
block variables
    - let title = 'Accueil';
 
block content
    section
        h2 Les derniers articles
        each val in articles
            article
                p(class='small')=moment(val["dateCreated"]).format('DD/MM/YYYY - hh:mm')
                a(class='link' href='article/'+val["id"])
                    h3=val["title"]
                p(class='small')=val["author"]["name"]
                    
                p=val["content"].length > 60 ? val["content"].slice(0,60) + "..." : val["content"]

                p(class='small')=val["category"]["title"]
                a(class='button' href='article/'+val["id"]) Voir plus